:root {
  --main: #717fe0;
  --black: #222222;
  --white: #e6e6e6;
  --light: #ffffff9a;
  --light-black: #333333;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
button {
  border: none;
  outline: none;
  cursor: pointer;
  color: var(--white);
  transition: all 0.3s ease-in-out;
}
a {
  text-decoration: none;
  color: inherit;
}
ul li {
  list-style-type: none;
}
textarea {
  resize: none;
}
input::first-line,
textarea::first-line {
  font-family: "Poppins";
  font-size: 14px;
}
