header {
  display: flex;
  margin-top: 50px;
  padding: 25px;
  background-color: transparent;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  transition: all 0.3s ease-in-out;
}
.fixed {
  margin-top: 0;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
header .logo {
  margin: 0 10px;
}
header .logo h2 {
  font-size: 20px;
}
header .logo h2 span {
  font-weight: 400;
  margin-left: 5px;
}
header .logo h2:hover span {
  color: var(--main);
  transition: all 0.3s ease-in-out;
}
header .menu {
  width: 100%;
  display: flex;
  justify-content: start;
  margin-left: 40px;
}
header .menu ul {
  display: flex;
}
header .menu ul li {
  padding: 5px 15px;
  font-size: 14px;
  font-weight: 600;
}
header .menu ul li a {
  position: relative;
  color: var(--light-black);
  transition: 0.3s ease-in-out;
}
header .menu ul li a:hover {
  color: var(--main);
}
header .menu ul li a .badge {
  background-color: #ff4d6d;
  padding: 2px 5px;
  font-size: 10px;
  color: white;
  border-radius: 10px;
  position: absolute;
  top: -20px;
  right: -15px;
}
header .icons {
  display: flex;
  justify-content: end;
  margin: 5px 20px;
}
header .icons a {
  transition: all 0.3s ease-in-out;
}
header .icons a:hover {
  color: var(--main);
}
header .icons a svg {
  margin: 0 15px;
  width: 18px;
}

#bars {
  display: none;
}



.removeBtn {
  background-color: transparent;
  color: var(--light-black);
}

.cartBTN {
  background-color: transparent;
  color: var(--light-black);
  width: 3rem;
  position: relative;
}
.cartBTN:hover svg{
  fill: var(--main);
}
 
.cartBTN svg {
  fill: var(--light-black);
  width: 1rem;
}
 
.cartBTN .cartCountSpan{
  background-color: var(--main);
  padding: 1px 5px;
  width: 20px;
  height: 20px;
  position: absolute;
  top: -20px;
  right: 0;
  color: white;
  border-radius: 5px;
  font-size: 12px;
}

.sideBareContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s ease-in-out, visibility 0.4s;
  z-index: 1000;
}

.sideBareContainer.open {
  opacity: 1;
  visibility: visible;
}

.sideBare {
  position: fixed;
  top: 0;
  right: -100%;
  width: 45%;
  max-width: 500px;
  height: 100%;
  background-color: white;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
  transition: right 0.4s ease-in-out;
  z-index: 1001;

  display: flex;
  flex-direction: column;
  margin-left: auto;
  padding: 2rem;
}

.sideBare.open {
  right: 0;
}



.cartItem {
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 1rem;
}

.cartItem button:hover {
  color: rgb(214, 75, 75);
}

.listOfItem {
  height: 70%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.CartCaption {
  display: flex;
  justify-content: space-between;
}

.cartCloseBtn {
  background: none;
  border: none;
  width: 32px;
  cursor: pointer;
}

.sideBareCheckOut {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.checkOutBtn {
  color: white;
  background-color: black;
  border: 1px solid black;
  border-radius: 32px;
  padding: 0.7rem 1rem;
  width: 10rem;
  align-self: center;
}

.checkOutBtn:hover {
  color: black;
  background: none;
  border: 1px solid black;
}



@media (max-width: 991px) {
  header {
    margin-top: 0;
    padding: 10px;
    flex-direction: column;
    align-items: center;
  }
  header .logo {
    margin: 0;
  }
  header .menu {
    margin-left: 0;
    margin-top: 10px;
    order: 2;
  }
  header .icons {
    order: 1;
  }
  header .menu {
    display: none;
  }
  header .menu ul {
    flex-direction: column;
    background-color: var(--main);
    align-items: center;
    align-items: start;
    width: 100%;
  }
  header .menu ul li {
    padding: 5px 10px;
  }
  header .menu ul li a:hover {
    color: white;
  }
  #bars {
    display: block;
  }

  .cartBTN .cartCountSpan{
    width: 12px;
    top: 10px;
    right: -10px;
    width: 50%;
  }
}

@media (max-width: 767px) {
  header {
    padding: 10px;
    flex-direction: column;
    align-items: center;
  }
  header .logo {
    margin: 0;
  }
  header .menu {
    margin-left: 0;
    margin-top: 10px;
  }
  header .menu ul {
    flex-direction: column;
    background-color: var(--main);
    width: 100%;
  }
  header .menu ul li {
    padding: 5px 10px;
  }

  .sideBare {
    width: 100%;
  }
}
