.about-page {
  padding-top: 80px;
}

.about-page .about-title {
  padding: 60px 0;
  text-align: center;
  margin-bottom: 80px;
  background-image: url("./../../imgs/About/about-bg.webp");
  background-size: cover;
}
.about-page .about-title h2 {
  font-size: 36px;
  font-weight: 700;
  color: var(--white);
  letter-spacing: 1.5px;
}

.about-page .about-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.about-page .about-container .row {
  display: flex;
}
.about-page .about-container .our-story {
  padding-bottom: 80px;
}

.about-page .about-container .our-story {
  flex: 1;
  min-width: 300px;
  padding: 0 30px 0 0;
}

.about-page .about-container .our-story h3 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 25px;
  color: var(--light-black);
}

.about-page .our-story p {
  font-size: 15px;
  color: #888;
  margin-bottom: 20px;
  line-height: 1.8;
  width: 90%;
}

.about-page .about-container .image {
  padding: 50px 0;
  margin: 0 -50px;
}
.about-page .about-container .image img {
  width: 400px;
}

.about-page .image .img-border {
  border: 1px solid #f2f2f2;
  border-radius: 20px;
  padding: 10px;
  background-color: var(--white);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  margin: 0 30px;
}

.about-page .our-mission {
  margin-top: 50px;
}
.about-page .our-mission .image {
  padding: 50px 20px;
  margin: 0 -50px;
}
.about-page .our-mission .content {
  margin-left: 20px;
}
.about-page .our-mission h3 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 25px;
  color: var(--light-black);
}

.about-page .our-mission p {
  font-size: 15px;
  color: #888;
  margin-bottom: 20px;
  line-height: 1.8;
}
.about-page .our-mission p:nth-child(3) {
  border-left: 3px solid var(--main);
  padding: 0 20px;
  margin: 10px 20px;
  font-style: italic;
}

.about-page .our-mission span {
  color: #888;
  padding: 0 20px;
  margin: 10px 20px;
  font-style: italic;
}